body {
    background-image: radial-gradient(circle at 32% 86%, rgba(162, 162, 162,0.05) 0%, rgba(162, 162, 162,0.05) 50%,rgba(95, 95, 95,0.05) 50%, rgba(95, 95, 95,0.05) 100%),radial-gradient(circle at 62% 1%, rgba(99, 99, 99,0.05) 0%, rgba(99, 99, 99,0.05) 50%,rgba(70, 70, 70,0.05) 50%, rgba(70, 70, 70,0.05) 100%),radial-gradient(circle at 16% 3%, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(228, 228, 228,0.05) 50%, rgba(228, 228, 228,0.05) 100%),linear-gradient(90deg, rgb(200, 119, 231),rgb(168, 91, 251));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Open sans, Helvetica, sans-serif;
    padding: clamp(20px, 5vw, 50px) 10px 10px;
    overflow-X: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    color: #f1f1f1;
    font-weight: bolder;

}

#window-container {
    width: 80%;
    height: 80%;
    max-width: 450px;
}

h1 {
    color: #f1f1f1;
}

.container {
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    min-width: 400px;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    color: #000000;
  }
  .heading {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 100;
  }
  .password-container {
    display: flex;
    align-items: flex-end;
  }
  .password-container p {
    font-size: 20px;
    margin-right: 15px;
    letter-spacing: 1px;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #000000;
  }
  .copy-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .copy-btn:hover {
    background-color: rgb(255, 255, 255);
  }
  .copy-btn img {
    width: 50%;
  }
  .copy-btn::before {
    content: "Copié ✔️";
    font-size: 16px;
    padding: 6px;
    white-space: nowrap;
    display: block;
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background: #fff;
    display: none;
  }
  .copy-btn.active::before {
    display: block;
    animation: toast 0.6s ease-out;
  }
  @keyframes toast {
    to {
      transform: translateX(-50%) translateY(-2px);
    }
  }
  .range-group {
    margin-top: 30px;
  }
  .range-group label, .range-group input {
    display: block;
  }
  .range-group label{
    font-size: 16px;
  }
  .range-group input {
    margin-top: 10px;
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  
  .checkboxes-container {
    margin: 30px 0;
  }
  .checkbox-group {
    display: flex;
    align-items: center;
  }
  .checkbox-group:not(:first-of-type) {
    margin-top: 20px;
  }
  .checkbox-group input {
    border: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .checkbox-group label {
    font-size: 16px;
    padding-left: 18px;
    font-size: 100;
    cursor: pointer;
  }
  
  .generate-password-btn {
    font-size: 18px;
    min-width: 150px;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: #c07bdf;
    cursor: pointer;
    color: #f1f1f1;
}
.generate-password-btn:hover {
    background: rgb(164, 99, 233);
    /* background: #f1f1f1; */
    /* color: #333; */
  }
  .error-msg {
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }